.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;

}
th {
  text-align: left;
}

.row {
 	opacity: .2px;
}

body{
	background-image:url('/monkey-6.jpg');
	background-repeat: no-repeat;
	width:100%;
}
