<div class="container">
  <div class="question">
    <h3><%= @survey.title %> Results:</h3>
    <% @questions.each do |question| %>
    <%= question.prompt %><br>
    <ul>
      <% question.choices.each do |choice| %>
      <li> <%= choice.option %> - <%= choice.percentage_calc %> % </li>
      <% end %> 
      <br>
    </ul>
    <% end %>

    </div>
  </div>